/target/
*.class

# Package Files #
*.jar
*.war
*.ear

#eclipse
.settings
.classpath
.project

rebel.xml

.DS_Store

npm-debug.log
node_modules

.tern-project

*.bak
*.mwb.bak

# Idea project files
.idea/
*.iml