<div class="panel panel-default">
	<div class="panel-body">

		<div class="row">
			<div class="col-lg-6">
				<div class="input-group">
					<button type="button" class="btn btn-primary"
						ng-click="vm.newUser()">Novo</button>
				</div>
			</div>
		</div>
	</div>

	<div>
		<table class="table table-hover data-table">
			<thead>
				<tr>
					<th>#</th>
					<th>Nome</th>
					<th>Email</th>
					<th>Telefone</th>
					<th>Sexo</th>
				</tr>
			</thead>
			<tbody>
				<tr ng-repeat="entry in vm.list" ng-click="vm.editUser(entry.id);">
					<td>{{entry.id}}</td>
					<td>{{entry.name}}</td>
					<td>{{entry.email}}</td>
					<td>{{entry.phone}}</td>
					<td>{{entry.genre}}</td>
				</tr>

			</tbody>

		</table>
	</div>

</div>

