<div class="row">
    <div class="col-md-4 col-sm-4">
        <div class="form-group">
            <label class="required">Nome</label>
            <input id="nome" name="nome" type="text" class="form-control" validator="required, length"  placeholder="Preencha o nome do Cliente"
                   ng-model="userCtrl.user.name" valid-method="submit-only" message-id="requiredName" ng-minlength="3" maxlength="50"/>
            <span id="requiredName" class="help-block"></span>
        </div>
    </div>
    <div class="col-md-2">
        <div class="form-group">
            <label class="required">Sexo</label>
            <div class="checkbox no-margin" >
                <label>
                    <input type="radio" ng-model="userCtrl.user.sex"  value="MASCULINO"> M
                </label>
                <label>
                    <input type="radio" ng-model="userCtrl.user.sex"   value="FEMININO"> F
                </label>
            </div>
        </div>
    </div>
</div>
<div class="row">
    <div class="col-md-4 col-sm-4">
        <div class="form-group">
            <label class="required">Email</label>
            <input id="email" name="email" type="email" class="form-control" validator="required, length,email"  placeholder="Preencha o email do Cliente"
                   ng-model="userCtrl.user.email" valid-method="submit-only" message-id="requiredEmail" ng-minlength="3" maxlength="50" />
            <span id="requiredEmail" class="help-block"></span>
        </div>
    </div>
    <div class="col-md-3 col-sm-3">
        <div class="form-group">
            <label class="required">Telefone</label>
            <input id="phone" name="phone" type="text" class="form-control" validator="required, length"  placeholder="Preencha o telefone do Cliente"
                   ng-model="userCtrl.user.phone" valid-method="submit-only" message-id="requiredPhone" ng-minlength="8" maxlength="12"/>
            <span id="requiredPhone" class="help-block"></span>
        </div>
    </div>
</div>